@model IEnumerable<MusicIsUs.Models.Vinyls>

@{
    ViewBag.Title = "Index";
    var VinylsColl = ViewBag.Liked;
    var user = (MusicIsUs.Models.Users)ViewBag.user;
    int index = 0;
}

<h2>Vinyls</h2>
<div class="row">
    @using (Html.BeginForm("Search", "Vinyls", FormMethod.Get))
    {
        <form class="form-inline">
            <div class="form-group col-md-2">
                <select class="form-control" name="artistName">
                    <option id="grayOption" value="" selected>Select Artist Name</option>
                    @foreach (var artistName in ViewBag.artistName)
                    {
                        <option value="@artistName">@artistName</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-2">
                <select class="form-control" name="genere">
                    <option id="grayOption" value="" selected>Select Genere</option>
                    @foreach (var genere in ViewBag.genere)
                    {
                        <option value="@genere">@genere</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <select class="form-control" name="originCountry">
                    <option id="grayOption" value="" selected>Select origin Country</option>
                    @foreach (var originCountry in ViewBag.originCountry)
                    {
                        <option value="@originCountry">@originCountry</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search">
                        Search
                    </span>
                </button>
            </div>
        </form>
    }
</div>


@if (user != null)
{
    if (user.IsAdmin)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            <span class="glyphicon glyphicon-headphones">
                @Html.DisplayNameFor(model => model.Name)
            </span>
        </th>
        <th>
            <span class="glyphicon glyphicon-user">
                @Html.DisplayNameFor(model => model.ArtistName)
            </span>
        </th>
        <th>
            <span class="glyphicon glyphicon-music">
                @Html.DisplayNameFor(model => model.Genere)
            </span>
        </th>
        <th>
            <span class="glyphicon glyphicon-globe">
                @Html.DisplayNameFor(model => model.OriginCountry)
            </span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginCountry)
            </td>
            @if (user != null)
            {
                if (user.IsAdmin)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
                if (ViewBag.Liked != null)
                {
                    bool exists = VinylsColl.Contains(item);
                    string btnClass = (exists) ? "btn-light" : "btn-primary";
                    string btnText = (exists) ? "Liked" : "Like";
                    <td>
                        <button type="button" class="like btn @btnClass" id="like-@index" data-vinyl-id="@item.Id" data-liked="@exists">@btnText</button>
                    </td>
                    index++;
                }
            }
        </tr>
    }

</table>
