@{
    ViewBag.Title = "Home Page";
    var user = (MusicIsUs.Models.Users)ViewBag.user;
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
@Scripts.Render("~/Scripts/card-handler.js")
@Styles.Render("~/Content/Site.css")
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <section>
            <img id="logo" style="padding-bottom:100px; padding-top:50px;" class="center" src="../../pics/logo-white.jpeg">
            <p class="lead">Music Is Us is a website for music lovers!You can see alot of Vinyls and music instruments around the globe. You can like them and get recomendations just for you. We hope you would enjoy!</p>
            <p><a href="@Url.Action("Contact","Home")" class="btn btn-primary btn-lg">contact us &raquo;</a></p>
        </section>
    </div>
</div>
<br />
<br />
<br />
<br />
<aside class="main-aside">
    <div>
        <ul class="list-group" id="vinylsTop">
            <li class="list-group-item active">Top 5 Vinyls</li>
            @for (var i = 0; ViewBag.topVinyls != null &&
                     i < Enumerable.Count(ViewBag.topVinyls); i++)
            {
                var vin = ViewBag.topVinyls[i];
                <li class="list-group-item">
                    @vin.Name
                    <span class="badge badge-primary badge-pill">@(i + 1)</span>
                </li>
            }
        </ul>
    </div>
    <div>
        <ul class="list-group" id="instrumentsTop">
            <li class="list-group-item active">Top 5 Instruments</li>
            @for (var i = 0; ViewBag.topInstruments != null &&
                     i < Enumerable.Count(ViewBag.topInstruments); i++)
            {
                var inst = ViewBag.topInstruments[i];
                <li class="list-group-item">
                    @inst.Name
                    <span class="badge badge-primary badge-pill">@(i + 1)</span>
                </li>
            }
        </ul>
    </div>
</aside>
<div class="row">
    <div class="col-md-5">
        <div class="videoPlayer">
            <iframe style="border-radius:20px;" width="400" height="250" src="https://www.youtube.com/embed/rt4zLhT2opc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <div class="videoPlayer" style="border-radius:20px;">
            <iframe style="border-radius:20px;" src="https://open.spotify.com/embed/playlist/37i9dQZEVXbJ6IpvItkve3" width="400" height="250" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>
<div class="row">
    <h1 style="text-shadow: 2px 2px lightcyan;">Last News</h1>
	<h3>Who Do You Think You Are named most played Spice Girls song</h3>
	<p class="multi-column-text">
		'Who Do You Think You Are' has been named the most played Spice Girls song.

		The music licensing company Phonographic Performance Limited (PPL) has unveiled the most popular hits by the iconic girl group to coincide with the 25th anniversary of mega-hit 'Wannabe'.

		And 'Who Do You Think You Are' beat 'Wannabe' to first place in the list, with the latter coming in at number two.

		Both singles featured on the chart-topping band's 1996 debut studio album, 'Spice'.

		In third place is 'Stop' from 1997's follow-up 'Spiceworld'.

		And '2 Become 1' and 'Say You'll Be There' from 'Spice' hold the fourth and fifth spot, respectively.

		'Spice Up Your Life', 'Goodbye', 'Mama', 'Viva Forever' and 'Too Much' complete the top 10.

		YouTube put 'Wannabe' at the top of their list, with a whopping 524,000,000 views, as did Spotify, with 600 million streams recorded.

		On Friday (09.07.21), the Spice Girls - comprising Mel B, Emma Bunton, Melanie C, Geri Horner, and Victoria Beckham - are releasing their first new song since 2007 to celebrate the anniversary of their debut single.

		The girls are marking the special date by bringing out the 'Wannabe25' EP - which will be available to buy and stream from July 9 - which includes the original version of the number one hit that launched Girl Power in July 1996, a remix by Junior Vasquez, a previously unheard demo of 'Wannabe' and ballad 'Feed Your Love' which features all five original members on vocals and was recorded when they were younger.

		The previously unreleased song - which was shelved back in the 90s - was written by the Spice Girls and 'Wannabe' co-writers Richard 'Biff' Stannard and Matt Rowe.

		Vasquez's remix was originally released as a bonus track on the '2 Become 1' single which was a number one record in the UK in 1996 and a hit all over the world for the band.

		To celebrate the anniversary, the group have also launched the #IAmASpicGirl campaign.

		Through the campaign, the band are inviting all fans to take a trip down memory lane and share their stories to be featured on the Spice Girls website and socials as part of the celebration. Fans can send in their videos and messages via socials using the #IAMASPICEGIRL or send to spicegirls@umusic.com

		The group said: "The Spice Girls belong to everyone and that’s why we want to mark 25 years of ‘Wannabe’ by celebrating our incredible fans."

		After their iconic 1996 debut single ‘Wannabe’ topped the charts in 37 countries, the Spice Girls' debut album ’Spice’ went on to sell more than 31 million copies worldwide, becoming the best-selling album of all time by a female group.

		The girls have gone on to sell more than 90 million records around the globe, releasing three studio albums and 11 singles and winning a host of awards including a BRIT Award for Outstanding Contribution to British Music.

		In 2019, the group reformed for the 'Spice World - Tour' minus Victoria, 47, who made the decision not to re-join, Geri, 48, Mel B, 46, Emma, 45, and Mel C, 47, for the stadium shows.
	</p>
</div>
<br />
<br />
@if (user != null)
{
    <h3 style="color:white"><b>User Recomendations:</b></h3>
    <br />
    <div class="row" style="background-color:whitesmoke; border-radius:20px;">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item" id="vinLink">
                        <a class="nav-link active" href="#">Vinyls</a>
                    </li>
                    <li class="nav-item" id="instLink">
                        <a class="nav-link" href="#">Instruments</a>
                    </li>
                </ul>
            </div>

            <div class="card-body" id="recommVinyls">
                <div class="row">
                    @for (int i = 0; ViewBag.recommVinyls != null && i < Enumerable.Count(ViewBag.recommVinyls); i++)
                    {
                        var vin = ViewBag.recommVinyls[i];
                        <div class="col-md-3 col-md-offset-1 card-new">
                            <div class="card-container">
                                <h4><b>@vin.Name</b></h4>
                                <p>@("Genre: " + vin.Genere + ", ")</p>
                                <p>@("Artist: " + vin.ArtistName + ",")</p>
                                <p>@("Origin: " + vin.OriginCountry)</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <a href="@Url.Action("Index","Vinyls")" class="col-md-1 col-md-offset-10 btn btn-primary">Go To Vinyls</a>
                </div>
            </div>
            <div class="card-body hide" id="recommInstruments">
                <div class="row">
                    @for (int i = 0; ViewBag.recommInstruments != null && i < Enumerable.Count(ViewBag.recommInstruments); i++)
                    {
                        var inst = ViewBag.recommInstruments[i];
                        <div class="col-md-3 col-md-offset-1 card-new">
                            <div class="card-container">
                                <h4><b>@inst.Name</b></h4>
                                <p>@("Type: " + inst.Type + ", ")</p>
                                <p>@("Made In: " + inst.MadeInCountry + ",")</p>
                                <p>@("Brand: " + inst.Brand)</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <a href="@Url.Action("Index","Instruments")" class="col-md-2 col-md-offset-9 btn btn-primary">Go To Instruments</a>
                </div>
            </div>
        </div>
    </div>
}
